@model IEnumerable<GardeningF.Models.Departamento>
@using GardeningF.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
}
<div class="container mt-5 ">
    <div class="card " style="margin-top: 70px ;">
        <div class="card-header bg-main">
            Administración de empleados
        </div>
        <div class="card-body">
            <h5 class="card-title">
                En este panel, usted podra visualizar, crear departamentos.
            </h5>

            <!-- Card statics-->
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header bg-card-admin text-white text-center">
                            Total de empleados
                        </div>
                        <div class="card-body">

                            <p class="card-text text-center">20</p>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card ">
                        <div class="card-header bg-card-admin text-white text-center">
                            Departamento Ventas
                        </div>
                        <div class="card-body">

                            <p class="card-text text-center">12</p>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header bg-card-admin text-white text-center">
                            Departamento Compras
                        </div>
                        <div class="card-body">

                            <p class="card-text text-center">8</p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end Card statics-->

            <hr>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-flex flex-row-reverse">
                        @Html.ActionLink("Agregar nuevo", "Create", null, htmlAttributes: new { @class = "link-admin-agregar" })

                    </div>
                </div>
            </div>
            <!-- Tabla departamentos -->
            <div class="row">
                <div class="col-12">
                    <div style="display:flex; flex-direction:column;">
                        <h3 class="my-2">Lista de Departamentos</h3>
                    </div>

                    <table class="table">
                        <thead class="bg-principal">
                            <tr>
                                <th scope="col">@Html.DisplayNameFor(model => model.id_depto)</th>
                                <th scope="col">@Html.DisplayNameFor(model => model.nombre_depto)</th>

                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: rgba(169, 169, 169, 0.207);">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id_depto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre_depto)
                                    </td>


                                    <td width="200px">
                                        @Html.ActionLink("Editar", "Edit", new { id = item.id_depto }, htmlAttributes: new { @class = "btn btn-info" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_depto }, htmlAttributes: new { @class = "btn btn-danger" })

                                    </td>
                                </tr>
                            }




                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end tabla departamentos -->
            <div class="row">
                <div class="col-12">
                    <div style="display:flex; flex-direction:column;">
                        <h3 class="my-2">Empleados de Ventas</h3>
                    </div>

                    <table class="table">
                        <thead>
                            <tr class="bg-card-admin text-white">
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido Paterno</th>
                                <th scope="col">Apellido materno</th>
                                <th scope="col">Email</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Rol</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (Empleado empleado in ViewBag.empleados)
                            {
                                <tr>
                                    <td>@empleado.nombre_empleado</td>
                                    <td>@empleado.app_empleado</td>
                                    <td>@empleado.apm_empleado</td>

                                    <td>@empleado.email_empleado</td>
                                    <td>@empleado.Departamento.nombre_depto</td>
                                    <td>@empleado.rol_empleado</td>



                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Compras-->
            <div class="row">
                <div class="col-12">
                    <div style="display:flex; flex-direction:column;">
                        <h3 class="my-2">Empleados de Compras</h3>
                    </div>

                    <table class="table">
                        <thead>
                            <tr class="bg-card-admin text-white">
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido Paterno</th>
                                <th scope="col">Apellido materno</th>
                                <th scope="col">Email</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Rol</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (Empleado empleado in ViewBag.empleados)
                            {
                                <tr>
                                    <td>@empleado.nombre_empleado</td>
                                    <td>@empleado.app_empleado</td>
                                    <td>@empleado.apm_empleado</td>

                                    <td>@empleado.email_empleado</td>
                                    <td>@empleado.Departamento.nombre_depto</td>
                                    <td>@empleado.rol_empleado</td>



                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



