@model GardeningF.Models.OrdenCliente

@{
    ViewBag.Title = "Edit1";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}


<h2>Actualizar fecha de entrega</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Orden</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_orden)


        <div class="form-group" hidden>
            @Html.LabelFor(model => model.id_orden, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.id_orden, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.id_orden, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.id_cliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.id_cliente, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.id_cliente, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.id_dir_entrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.id_dir_entrega, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.id_dir_entrega, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.id_paqueteria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.id_paqueteria, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.id_paqueteria, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.num_guia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.num_guia, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.num_guia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Cliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cliente, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Paqueteria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Paqueteria, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Paqueteria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.OrdenProducto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.OrdenProducto, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.OrdenProducto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_creacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha_creacion, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.num_confirmacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.num_confirmacion, "", new { @class = "form-control", @value = Model.num_confirmacion, @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.num_confirmacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.total, "", new { @class = "form-control", @value = Model.total, @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.num_confirmacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.nombre_cliente, "nom_cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cliente.nombre_cliente, "", new { @class = "form-control", @value = Model.Cliente.nombre_cliente, @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Cliente.nombre_cliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dirección de Entrega", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control" readonly>
                    @Html.DisplayFor(model => model.Direccion.calle),
                    @Html.DisplayFor(model => model.Direccion.colonia),
                    @Html.DisplayFor(model => model.Direccion.estado)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paqueteria, "nom_paqueteria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Paqueteria.nombre_paqueteria, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Paqueteria.nombre_paqueteria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_envio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha_envio, "", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.fecha_envio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.num_guia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.num_guia, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.num_guia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_entrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.fecha_entrega, new { @type = "date", @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.fecha_entrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-2 col-md-10">
                <input id="guardar" type="submit" value="Guardar" class="btn btn-info" />
            </div>
        </div>

    </div>
}

<div id="popupModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Error en fecha</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div style="padding: 5px;">
                    <div style="background-color: khaki; padding-left: 15px;">
                        <span id="1"></span> <span id="2"></span>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index1");
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(this).submit(function (e) {
        e.preventDefault();
        var fE;
        var fN;
        var nada = "";
        //Si llega
        var i = $("#@Html.IdFor(m => m.fecha_entrega)").val();

        if (i != "") {
            fT = i.split("-");
            fE = fT[2] + "/" + fT[1] + "/" + fT[0];
            var fechaEntrega = Date.parse(i);
        } else {
            nada = "nada";
            fE = "";

        }

        var fEnv = $("#@Html.IdFor(m => m.fecha_envio)").val();
        fN = fEnv.split(" ");
        var fecha = fN[0];
        var fechaFinal = fecha.split("/");

        if (nada == "nada") {
            $("#1").text("No ha seleccionado ninguna fecha de entrega");
            $("#popupModel").modal("show");
        } else {
            var fechaEnvio = Date.parse(fechaFinal[2] + '-' + fechaFinal[1] + '-' + fechaFinal[0]);
            if (fechaEnvio > fechaEntrega) {
                $("#1").text(`La fecha de entrega: ${fE} no puede ser menor`);
                $("#2").text(`a la de envio ${fEnv}`);
                $("#popupModel").modal("show");
            } else {
                save();
            }
        }
    });

    function save() {
        var token = $("[name='__RequestVerificationToken']").val();
        var ordenModel = {
            id_orden: $("#@Html.IdFor(m => m.id_orden)").val(),
            fecha_creacion: $("#@Html.IdFor(m => m.fecha_creacion)").val(),
            num_confirmacion: $("#@Html.IdFor(m => m.num_confirmacion)").val(),
            total: $("#@Html.IdFor(m => m.total)").val(),
            id_cliente: $("#@Html.IdFor(m => m.id_cliente)").val(),
            id_dir_entrega: $("#@Html.IdFor(m => m.id_dir_entrega)").val(),
            id_paqueteria: $("#@Html.IdFor(m => m.id_paqueteria)").val(),
            num_guia: $("#@Html.IdFor(m => m.num_guia)").val(),
            fecha_envio: $("#@Html.IdFor(m => m.fecha_envio)").val(),
            fecha_entrega: $("#@Html.IdFor(m => m.fecha_entrega)").val(),

            __RequestVerificationToken: token
        };

        $.ajax({
            type: "POST",
            url: "/Orden/Edit1",
            data: ordenModel,
            async: false,
            dataType: "html",
            success: function (result) {
                $("form").attr('action', '/Orden/Index1');
                $("form").submit();
            },
            error: function (err, result) {
                alert(err.responseText);
            }
        });
    }


</script>

