@model IEnumerable<GardeningF.Models.Paqueteria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_paqueteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfc_paqueteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_paqueteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.web_paqueteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_paqueteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto_paqueteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_contacto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_paqueteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rfc_paqueteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_paqueteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.web_paqueteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_paqueteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contacto_paqueteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_contacto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_paqueteria }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_paqueteria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_paqueteria })
        </td>
    </tr>
}

</table>
