@model IEnumerable<GardeningF.Models.Paqueteria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
}
<style>
    .card > img {
        height: 230px;
    }

    .bg-card-admin, thead {
        background-color: var(--color-principal) !important;
        color: white;
    }

    .page-item.active .page-link, .btnGreen {
        background-color: var(--color-principal) !important;
        border-color: var(--color-principal) !important;
        color: white !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<!--Counts de productos, categorias y subcategorias-->

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-6">
            <h2>Paqueterías</h2>
            <br>
            <br>
            <br>
            <p>
                @Html.ActionLink("Crear", "Create", "Paqueterias", new { @class = "btn btnGreen" })
            </p>
        </div>
        <div class="col-md-6">
            <img class="card-img-top" height="200" width="300" src="~/Content/Imagenes/Paqueterias/cajas.png" alt="Producto">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table" id="tbPaqueterias">
                <colgroup>
                    <col span="1" style="width: 3%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 5%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            RFC
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Web
                        </th>
                        <th>
                            Dirección
                        </th>
                        <th>
                            Contacto
                        </th>
                        <th>
                            Tel. Contacto
                        </th>
                        <th>
                            Editar
                        </th>
                        <th>
                            Eliminar
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id_paqueteria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre_paqueteria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rfc_paqueteria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telefono_paqueteria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.web_paqueteria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.direccion_paqueteria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.contacto_paqueteria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tel_contacto)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id_paqueteria }, new { @class = "btn btnGreen" })
                            </td>
                            <td>
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_paqueteria }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <br>
</div>


@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tbPaqueterias').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ ",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                pageLength: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']],
                "scrollX": false,
                "scrollY": true
            });
        });
    </script>
}
