<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/StylesAdmin.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-color">
        <!--Marca-->
        <a class="navbar-brand" href="#">Gardening</a>

        <!-- Logo del menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Empleados", "Index", "Empleados", null, htmlAttributes: new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Categorías", "Index", "DeptoCompras", null, htmlAttributes: new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Departamentos", "Index", "Departamento", null, htmlAttributes: new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Productos", "Index", "Departamento", null, htmlAttributes: new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Ventas", "Index", "Compras", null, htmlAttributes: new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Paqueterias", "Index", "Compras", null, htmlAttributes: new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Envios", "Index", "Compras", null, htmlAttributes: new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h4>Nuestras redes sociales:</h4>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-4 col-lg-4">
                                    <img src="~/Content/Imagenes/Home/Index/icono-fb.png" />
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <img src="~/Content/Imagenes/Home/Index/icono-twitter.png" />
                                </div>
                                <div class="col-sm-4 col-lg-4">
                                    <img src="~/Content/Imagenes/Home/Index/icono-gmail.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 text-center">
                        <h4>&copy; @DateTime.Now.Year - Gardening.com</h4>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>