@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav ml-auto">
            <li>
                <!--TODO: Redireccionar al carrito-->
                <a class="btn" href="#">
                    <i class="fa fa-shopping-cart" style="font-size: 24px; color: lightgreen"></i>
                    <span class="badge" style="color:lightgreen">@Session["itemCarro"]</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle nav-link" role="button" aria-expanded="false" href="#" data-toggle="dropdown">
                    Hola @User.Identity.GetUserName()!
                </a>
                <ul class="dropdown-menu" role="menu" id="dropdown">
                    <!--TODO: Cambiar a controlador de pedidos-->
                    <li>@Html.ActionLink("Mis pedidos", "", "", null, new { id = "add" })</li>
                </ul>
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li>
            <!--TODO: Redireccionar al carrito-->
            <a class="btn" href="#">
                <i class="fa fa-shopping-cart" style="font-size: 24px; color: lightgreen"></i>
                <span class="badge" style="color: lightgreen">@Session["itemCarro"]</span>
            </a>
        </li>
        <li class="nav-item">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
