@using GardeningF.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<style>
    .content {
        margin: 5%;
        padding: 4rem 1rem 4rem 1rem;
        box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
    }
</style>
<div class="container">
    <br />
    <div class="row content">
        <div class="col-md-6">
            <img src="~/Content/Imagenes/Home/Index/loginGardening.jpg" width="100%" />
        </div>
        <div class="col-md-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h2 style="text-align:center">Login</h2>
                                        <br />
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-10 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-12" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-12" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2  col-md-12" style="text-align:end">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12" style="text-align:center">
                            <input type="submit" value="Iniciar sesión" class="btn btn-success" />
                        </div>
                    </div>
                    <p style="text-align:end">
                        @Html.ActionLink("Registrar como nuevo usuario", "Register", null, new { @class = "btn btn-sm" })
                    </p>
                    @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
                        <p>
                            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
