@model IEnumerable<GardeningF.Models.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apm_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.nombre_depto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apm_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.nombre_depto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_empleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_empleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_empleado })
        </td>
    </tr>
}

</table>
