@model GardeningF.Models.Subcategoria

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<style>
    textarea {
        max-width: 678px !important;
        resize: both;
        width: 100%;
        height: 85px;
    }

    .btn, p > a {
        text-decoration: none;
        padding: 7px;
        font-size: 15px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 6px;
        text-decoration: none;
        background-color: var(--color-principal) !important;
        border-color: var(--color-principal) !important;
    }

        .btn:hover, p > a:hover {
            color: #ffffff;
            text-decoration: none;
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="margin-top:50px">
        <br>
        <h2>Actualizar Subcategoría</h2>

        <div class=" card">
            <div class="card-header">
                <h4>Categoria</h4>

            </div>
            <div class="card-body" style="height: 300px">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_subcategoria)

                <div class="form-group">
                    <div class="row justify-content-start" style="height:130px">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.id_categoria, "id_categoria", htmlAttributes: new { @class = "control-label col-md-12", @style = "padding-left: 0px" })
                            @Html.DropDownList("id_categoria", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.id_categoria, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-8">
                            @Html.LabelFor(model => model.descripcion_subcategoria, htmlAttributes: new { @class = "control-label col-md-12", @style = "padding-left: 0px" })
                            @Html.TextAreaFor(model => model.descripcion_subcategoria, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion_subcategoria, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.nombre_subcategoria, htmlAttributes: new { @class = "control-label col-md-12", @style = "padding-left: 0px" })
                            @Html.EditorFor(model => model.nombre_subcategoria, new { htmlAttributes = new { @class = "form-control " } })
                            @Html.ValidationMessageFor(model => model.nombre_subcategoria, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="row justify-content-end" style="right">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="right; margin-top: 20px">
                                <input type="submit" value="Guardar" class="btn" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <p>
            @Html.ActionLink("Tabla Subcategorías", "Index")
        </p>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
