@model IEnumerable<GardeningF.Models.Subcategoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: none;
        color: black !important;
        border-radius: 4px;
        border: 1px solid var(--color-principal);
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: none;
        color: black !important;
    }
</style>

<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">Subcategorias</h5>
        <div class="card-body">
            <button type="button" class="btn boton" onclick="location.href='@Url.Action("Crear", "Create")'">Crear</button>
            <div class="table-responsive" style="padding-top:10px">

                <table id="myTable" class="table tablesorter table-bordered" style="text-align: justify; width=" 100%">
                    <thead>
                        <tr class="navbar-color text-white-50">
                            <th>
                                Id Categoría
                            </th>
                            <th>
                                Id Subcategoría
                            </th>
                            <th>
                                Nombre Subcategoría
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                Nombre Categoría
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_categoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_subcategoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre_subcategoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.descripcion_subcategoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Categoria.nombre_categoria)
                                </td>
                                <td>
                                    @Html.ActionLink("Actualizar", "Edit", new { id = item.id_subcategoria }, htmlAttributes: new { @class = "btn boton" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_subcategoria }, htmlAttributes: new { @class = "btn boton" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "bInfo": false,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
                },
                pageLength: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]
            });
        });
    </script>
}